<div class="container">
    <div class="row">
	    <div class="col-md-6 col-md-offset-3">
		    <div class="well well-sm">
		      <h1>{{headingTitle}}</h1>
		      <h2>Electronic Customer Service Representative</h2>
		      <p>The Electronic Customer Service Representative (ECSR) is an 
		      additional tool to IT management can use to provide quality 
		      IT services.</p>
		      <p>ECSR does the following</p>
		      <ul>
		          <li>Manage people, teams, and organizations that interact, or are part of, IT services delivered</li>
		          <li>Manage IT assets, including asset ownership and asset disposition</li>
		          <li>Manages Incident, Service, Change, and Problem, Ticket life cycles</li>
		      </ul>
			</div>
		</div>
	</div>
</div>
