<div class="container">
    <div class="row">
	    <div class="col-md-6 col-md-offset-3">
		    <div class="well well-sm">
			    <form name="form" class="form-horizontal" ng-submit="savePerson(person);" novalidate>
			        <fieldset>
				        <legend class="text-center">{{headingTitle}}</legend>
				        <div ng-show="!form.$pristine && form.$invalid" class="alert alert-danger">
				        Please enter values for the required fields.
			            </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="prefix">Prefix:</label>
                            <div class="col-md-9">
                            <input 
                                type="text" 
                                class="form-control" 
                                id="prefix" 
                                ng-model="person.prefix"
                                maxlength="40"
                                placeholder="Please enter your name prefix">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="firstName">First Name:</label>
                            <div class="col-md-9">
                            <input 
                                type="text" 
                                class="form-control" 
                                id="firstName"
                                name="firstName" 
                                ng-model="person.firstName" required
                                maxlength="40"
                                placeholder="Please enter your first name *">
                                <span style="background-color: #ff9999;" ng-show="form.firstName.$invalid">
                                * (required)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="middleName">Middle Name:</label>
                            <div class="col-md-9">
                            <input 
                                type="text" 
                                class="form-control" 
                                id="middleName" 
                                ng-model="person.middleName"
                                maxlength="40"
                                placeholder="Please enter your middle name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="lastName">Last Name (Surname):</label>
                            <div class="col-md-9">
                            <input 
                                type="text" 
                                class="form-control" 
                                id="lastName" 
                                name="lastName" 
                                ng-model="person.lastName" required
                                maxlength="40"
                                placeholder="Please enter your last name (surname) *">
                                <span style="background-color: #ff9999;" ng-show="form.lastName.$invalid">
                                * (required)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="suffix">Suffix:</label>
                            <div class="col-md-9">
                            <input 
                                type="text" 
                                class="form-control" 
                                id="suffix" 
                                ng-model="person.suffix"
                                maxlength="40"
                                placeholder="Please enter your name suffix">
                            </div>
                        </div>
				        <div class="form-group">
					        <div class="col-md-12 text-right">
					            <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Submit</button>
					        </div>
				        </div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
