<div class="container">
    <legend>{{headingTitle}}</legend>
    <div class="row">
	    <div class="col-md-12">
		    <div class="well well-sm">
			  <form>
			    <div class="form-group">
			      <div class="input-group">
			        <div class="input-group-addon"><i class="fa fa-search"></i></div>
			        <input type="text" class="form-control" placeholder="Search" ng-model="search">
			      </div>      
			    </div>
			  </form>
		      <table class="table table-striped">
		          <thead>
	                  <tr>
	                      <th>
		                      <a ng-click="sortType = 'uuid'; sortReverse = !sortReverse">
			                      UUID
			                      <span ng-show="sortType == 'uuid' && !sortReverse" class="fa fa-caret-down"></span>
		                          <span ng-show="sortType == 'uuid' && sortReverse" class="fa fa-caret-up"></span>
		                      </a>
	                      </th>
	                      <th>Prefix</th>
	                      <th>
	                          <a ng-click="sortType = 'firstName'; sortReverse = !sortReverse">
			                      First Name
		                          <span ng-show="sortType == 'firstName' && !sortReverse" class="fa fa-caret-down"></span>
		                          <span ng-show="sortType == 'firstName' && sortReverse" class="fa fa-caret-up"></span>
	                          </a>
	                      </th>
	                      <th>Middle Name</th>
	                      <th>
		                      <a ng-click="sortType = 'lastName'; sortReverse = !sortReverse">
			                      Last Name
		                          <span ng-show="sortType == 'lastName' && !sortReverse" class="fa fa-caret-down"></span>
		                          <span ng-show="sortType == 'lastName' && sortReverse" class="fa fa-caret-up"></span>
	                          </a>
	                      </th>
	                      <th>Suffix</th>
	                      <th>&nbsp;</th>
	                  </tr>
		          </thead>
		          <tr ng-repeat="person in people | orderBy:sortType:sortReverse | filter:search">
                      <td>
                        <a 
                            type="button" 
                            ng-click="getPerson(person.uuid)" 
                            data-toggle="modal" 
                            data-target="#person">
                            {{person.uuid}}<span class="fa fa-pencil fa-1x fa-border">&nbsp;</span>
                        </a>
                      </td>
                      <td>{{person.prefix}}</td>
                      <td>{{person.firstName}}</td>
                      <td>{{person.middleName}}</td>
                      <td>{{person.lastName}}</td>
                      <td>{{person.suffix}}</td>
                      <td>
                        <a 
                            type="button" 
                            ng-click="deletePerson(person.uuid)">
                            Delete&nbsp;<span class="fa fa-trash fa-1x fa-border" style="color: #e27171;"></span>
                        </a>
                      </td>
		          </tr>
		      </table>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="person" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title" id="lineModalLabel">View / Modify Person</h3>
        </div>
        <div class="modal-body">
                <form name="form" class="form-horizontal" ng-submit="savePerson(person);" novalidate>
                    <fieldset>
                        <legend class="text-center">Showing: {{person.lastName}}, {{person.firstName}}</legend>
                        <div ng-show="!form.$pristine && form.$invalid" class="alert alert-danger">
                        Please enter values for the required fields.
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="prefix">Prefix:</label>
                            <div class="col-md-9">
                            <input 
                                type="text" 
                                class="form-control" 
                                id="prefix" 
                                ng-model="person.prefix"
                                maxlength="40"
                                placeholder="Please enter your name prefix">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="firstName">First Name:</label>
                            <div class="col-md-9">
                            <input 
                                type="text" 
                                class="form-control" 
                                id="firstName"
                                name="firstName" 
                                ng-model="person.firstName" required
                                maxlength="40"
                                placeholder="Please enter your first name *">
                                <span style="background-color: #ff9999;" ng-show="form.firstName.$invalid">
                                * (required)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="middleName">Middle Name:</label>
                            <div class="col-md-9">
                            <input 
                                type="text" 
                                class="form-control" 
                                id="middleName" 
                                ng-model="person.middleName"
                                maxlength="40"
                                placeholder="Please enter your middle name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="lastName">Last Name (Surname):</label>
                            <div class="col-md-9">
                            <input 
                                type="text" 
                                class="form-control" 
                                id="lastName" 
                                name="lastName" 
                                ng-model="person.lastName" required
                                maxlength="40"
                                placeholder="Please enter your last name (surname) *">
                                <span style="background-color: #ff9999;" ng-show="form.lastName.$invalid">
                                * (required)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="suffix">Suffix:</label>
                            <div class="col-md-9">
                            <input 
                                type="text" 
                                class="form-control" 
                                id="suffix" 
                                ng-model="person.suffix"
                                maxlength="40"
                                placeholder="Please enter your name suffix">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-default" ng-disabled="form.$invalid">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
        </div>
    </div>
  </div>
</div>
